<p><strong><%=link_to list.name, list %></strong>
<% if current_user?(list.user) %>
  <%= link_to "delete", list, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => list.name %>
   <% end %>
</p>
