<% if signed_in? %>
  <h1>Create a New List</h1>
  <%= render 'shared/list_form' %>
  <%= render @lists %>
<% else %>
  <h1>Welcome!</h1>
  <%= link_to "Sign up now!", signup_path,  :class => "signup_button" %>
<% end %>
